body {
    background: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.ad_text {
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 0 10px;
}

.ad_text h3{
    margin-top: 15px;
}

.map_img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.map_img h2 {
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50%;
}

.map_img img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .ad_text {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .map_img h2 {
        width: 100%;
        text-align: left;
    }

    .map_img img {
        max-width: 90%;
    }
}
