body {
    background: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.ad_text {
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 0 10px;
}

.ad_text h3{
    margin-top: 15px;
}

.map_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.map_img h2 {
    width: 100%;
    text-align: center;
    padding-left: 0;
}

.map_img img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .ad_text {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .map_img h2 {
        text-align: center;
        padding-left: 0;
    }

    .map_img img {
    }
    max-width: 90%;
}
